# Exclude Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Exclude version control directories
.git
.gitignore

# Exclude Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Exclude testing directories and files
tests/
*.test.py

# Exclude public directories
public/
static/

# Exclude environment variables files
.env

# Exclude github actions files
.github/

# Exclude scripts
scripts/

# Exclude idea files
.idea/
/backend/backend.iml

# Exclude venv
/backend/venv/